/*----------------------------------------------------- Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto+Slab:wght@400;700;800&display=swap');

/*--------------- Custom properties ---------------*/
:root {
    --main-black-color: #000;
    --main-white-color: #fff;
    --main-white-shade-color: #F7F3F3;
    --main-white-shade2-color: #e4e0e0;
    --accent-gold-color: #F7B21F;
    --accent-gold-shade-color: #C78900;
    --accent-gold-shade2-color: #f0d080;
    --accent-red-color: #e73d3d;
    --accent-red-shade-color: #C51426;
}

/*---------------------------------------------- Basic styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

body,
main,
footer {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}


/*----------------------------------------------------- Header */

.header {
    background-image: url("/assets/images/RhinoP.png");
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    min-height: 20vh;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 82.5rem;
    margin: auto;
    padding: 15px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: .7em;
}

li {
    display: inline-block;
    text-decoration: none;
    padding: .3em .7em;
    flex-shrink: 1;
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    color: var(--accent-gold-color);
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--accent-gold-shade-color);
}

.nav-img {
    width: 20vw;
    max-width: 5rem;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

/*----------------------------------------------------- Footer */

footer {
    padding: 1rem;
    background-color: var(--main-black-color);
    text-align: center;
}

.media-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.media-buttons i {
    font-size: 2em;
    padding: .5em;
    color: var(--accent-gold-color);
}

.media-buttons i:hover {
    transform: scale(1.5);
}

footer p {
    text-align: center;
}

footer a {
    display: inline-block;
    padding-top: 1em;
    padding-right: 1em;
    color: var(--main-white-color);
}

#footer-form {
    margin: 0 auto;
    max-width: 70%;
}

#footer-form input, 
#footer-form select, 
#footer-form button,
#footer-form h2 {
    margin: 0.25rem;
}

#footer-form p {
    margin: 0.5rem;
}

#footer-form input, 
#footer-form select {
    padding: 0.25rem;
    text-align: center;
    max-width: 50%;
}

#footer-form button {
    border: 0;
    font-weight: 800;
    font-size: 1rem;
}

#footer-form button:hover {
    cursor: pointer;
}

/*------------------------------------------------------- Main */

main {
    display: flex;
    flex-direction: column;
}

section {
    background-color: var(--main-white-shade-color);
}

/* For button hover effect */
.btn {
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid var(--accent-gold-color) !important;
    background-color: var(--main-black-color);
    color: var(--accent-gold-color);
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}

.btn.buttonD:hover,
.btn.buttonDD:hover {
    border: 1px solid var(--accent-red-color) !important;
}

.btn:hover > .nav-link {
    color: var(--accent-gold-color);
}

.btn.buttonD:hover > .nav-link,
.btn.buttonDD:hover > .nav-link {
    color: var(--accent-red-color) !important;
}

/* -- Hero image -- km */

h1 {
    color: var(--accent-gold-color);
}

.hero-image {
    color: var(--main-white-color);
    font-size: 30px;
    background-image: url("/assets/images/RhinoP.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
}

.container {
    max-width: 450px;
    text-align: center;
    padding: 1px;
    margin-top: 50px;
    margin-left: 50px;
}

.container p {
    font-size: 20px;
}

.buttonA,
.buttonD {
    width: 200px;
    height: 60px;
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    margin-top: 10px;
    margin-inline: auto;
    border-radius: 6px;
}

.buttonA {
    background-color: var(--accent-gold-color);
}

.buttonD {
    background-color: var(--accent-red-color);
    margin-bottom: 1rem;
}

.buttonA a,
.buttonD a {
    color: var(--main-black-color);
}

/* What we do section */

.what-we-do-section {
    background-color: var(--main-white-shade2-color);
}

.what-we-do {
    margin: auto;
    padding: 2rem .5rem .5rem;
    text-align: center;
    max-width: 82.5rem;
}

.what-we-do h2 {
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.what-we-do p {
    color: var(--main-black-color);
}

.what-box {
    max-width: 500px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(128, 128, 128, .3);
    border-radius: 8px;
    margin-left: 3%;
}

.impact {
    display: inline-block;
    margin: 2em auto;
    padding: 10px 15px;
    text-decoration: none;
    background-color: var(--accent-gold-color);
    border-radius: 6px;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
}

.cta .impact.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    margin: 1rem auto;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.achievements {
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--accent-gold-shade2-color);
    color: var(--main-black-color);
    max-width: 82.5rem;
}

.achievements div {
    padding: 1.5em;
}

.achievements div h3 {
    font-size: 3em;
    padding: .5em;
}

/* Get involved */
h2 {
    color: var(--accent-gold-color);
    font-size: 2.2rem;
}

h3 {
    color: var(--accent-red-color);
    font-size: 2.2rem;
}

h4 {
    color: var(--accent-gold-color);
    font-size: 2rem;
}

p {
    color: var(--main-white-shade-color);
    font-size: large;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--main-black-color);
}

.cta p {
    max-width: 82.5rem;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    max-width: 82.5rem;
}

/* Video of the Day */
.video-of-day div {
    margin: 0 auto;
    text-align: center;
}

.video-of-day h2 {
    margin-top: 0.5rem;
    text-align: center;
    padding-bottom: 0.5rem;
    color: var(--accent-gold-color);
}

#iframe-wrapper {
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 45%;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.iframe-container {
    padding-bottom: 1.5rem;
}

/****************************************************************
************************* Media queries *************************
*****************************************************************/


@media screen and (max-width: 500px) and (min-width: 0px){

    body,
    #footer-form button,
    .container p,
    p {
        font-size: 14px;
    }

    h2, h3{
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    .achievements div h3 {
        font-size: 30px;
    }

    .buttonA,
    .buttonAA,
    .buttonD, 
    .buttonDD {
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        height: 40px;
        font-size: 30px;
    }

    /* about page media queries */
    .containerA  {
        margin-left: 0;
    }

    .vertical-center-left {
        justify-content: center;
    }

    .who-box {
        margin-right: auto;
        margin-left: auto;
    }
    
    .what-box {
        margin-right: auto;
        margin-left: auto;
    }

    .what-box ul {
        display: block;
    }

    .what-image {
        height: 100%;
        padding-top: 20px;
    }

    /* end of about page media queries */

    nav ul {
        flex-direction: column;
        display: none;
        margin: 0px;
        background-color: transparent;
    }

    section {
        padding: 1%;
    }

    .achievements {
        flex-direction: column;
    }

    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: var(--accent-gold-color);
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    .what-we-do ul {
        display: flex;
    }

    ul.show {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: transparent;
        text-align: center;
    }

    nav div {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .nav-link {
        text-decoration: none;
        color: var(--accent-gold-color);
        font-weight: 800;
    }

    .active.nav-link {
        text-decoration: underline;
        color: #F7B21F;
    }

    #nav-list {
        margin-left: auto;
    }

    .container {
        margin: 0 auto;
    }

    #iframe-wrapper {
        width: 90%;
    }
}

@media screen and (min-width: 501px) and (max-width: 767px){
    body,
    #footer-form button,
    .container p,
    p {
        font-size: 18px;
    }

    h2, 
    h3,
    .what-we-do h2 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    .achievements div h3 {
        font-size: 34px;
    }

    .buttonAA, 
    .buttonDD {
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        height: 40px;
        font-size: 30px;
    }

    /* about page media queries */
    .containerA  {
        margin-left: 0;
    }

    .vertical-center-left {
        justify-content: center;
    }

    .who-box {
        margin-right: auto;
        margin-left: auto;
    }

    .what-box {
        margin-right: auto;
        margin-left: auto;
    }

    .what-box ul {
        display: block;
    }

    /* end of about page media queries */

    nav ul {
        flex-direction: column;
        display: none;
        margin: 0px;
        background-color: transparent;
    }

    section {
        padding: 1%;
    }

    .achievements {
        flex-direction: column;
    }

    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: var(--accent-gold-color);
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    .what-we-do ul {
        display: flex;
    }

    ul.show {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: transparent;
        text-align: center;
    }

    nav div {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .nav-link {
        text-decoration: none;
        color: var(--accent-gold-color);
        font-weight: 800;
    }

    .active.nav-link {
        text-decoration: underline;
        color: #F7B21F;
    }

    #nav-list {
        margin-left: auto;
    }

    .container {
        margin: 0 auto;
    }

    #iframe-wrapper {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {

    /*----------------------------------------------------- Header */

    .nav-link {
        font-size: 1rem;
    }

    /*----------------------------------------------------- Footer */

    .media-buttons i {
        font-size: 3rem;
    }

    /*----------------------------------------------------- Hero image */

    /* .hero-image {
        height: 110vh;
    } */

    .hero-text {
        max-width: 82.5rem;
        margin: auto;
        padding-left: 2rem;
    }

    

    .hero-text p {
        line-height: 1.7;
        font-weight: bolder;
        
    }

    /*----------------------------------------------------- What we do */

    .what-we-do {
        padding: 1em 2em;
    }

    .what-we-do h2 {
        font-size: 3em;
        font-weight: 800;
        margin: 1em 2em;
    }

    .what-we-do p {
        font-size: 1.7em;
        margin: 0 auto;
        color: var(--main-black-color);
    }

    /*----------------------------------------------------- Get involved */

    .projects {
        flex-direction: row;
    }

    .projects>* {
        flex: 1;
    }

    .projects-title {
        margin-bottom: 1rem;
    }

}